<header style=" position: fixed;
top: 0; width:100%; margin-bottom: 10%;"> 
	<div class="container1" style="padding-left: 50px; padding-right: 50px;">
		<div class="row">
			<div class="col-sm-4">
				<div class="headercontaint1">
					<fa-icon [icon]="faPlane"></fa-icon> <i><b> Boeing. </b></i><em>..</em>
					
				</div>
			</div>
			<div class="col-sm-8">
				<div class="headercontaint2"> 
					<p><fa-icon [icon]="faEnvelope"></fa-icon>
						 Contact:  <i style="color: rgb(31, 122, 241);">feedback@boieng.com</i><span class="space"></span>   | <span class="space"></span>  <fa-icon [icon]="faPhone"></fa-icon>  Contact: (+12) 347251</p>
				</div>
			</div>
			
		</div>
	</div>
</header>
