<!--<div class="container">
    <div class="row">
               <div id="custom-search-input">
                                <div class="input-group col-md-12" style="text-align: center">
                                    <input type="text" class="search-query form-control" style="width: 100%;" placeholder="Search With date Address"  name="date" [(ngModel)]="date"/>
                                    <span class="input-group-btn">                                           
                                             <button class="btn btn-danger" style="width: 200px;" type="button" (click)="findUserByDate()" value="Search Flight">
                                           
                                        </button>
                                    </span>
                                </div>
                            </div>
        </div>
 </div>
-->



  <div class="container">
    <button type="button" class="btn btn-primary" (click)="getFlightDetails()">FindFlight</button>
</div>
<div class="container">
<table class="table">
    <thead>
        <tr>
    <th>Id</th>
    <th>FromLocation</th>
    <th>ToLocation</th>
    <th>TotalSeats</th>
    <th>Price/Fare</th>
    <th>Date</th>
   
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let flight of flight">
            <td>{{flight.id}}</td>
            <td>{{flight.fromlocation}}</td>
            <td>{{flight.tolocation}}</td>
            <td>{{flight.totalseats}}</td>
            <td>{{flight.price}}</td>
            <td>{{flight.date}}</td>
            
            <td class="text-center" >
                <input type="submit" (click)="booking(flight.id)" class="btn btn-primary btn-block" value="Book Flight" >
               <!--
<button class="btn btn-danger btn-xs" style="color: aliceblue;"><span class="glyphicon glyphicon-remove">BookNow</span></button>
               --> 
            
            </td>
          </tr>

    </tbody>
</table>
</div>

<div class="containerC" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn"><a href="/"> Back</a></button>
  </div>