<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	
	<div class="container">
		<div style="text-align: center">
		<h1>{{message}}</h1>
	</div>
		<h2>Add Flight Details</h2>
		<form>
			<fieldset>
				<legend class="text-center">Valid information is required to register. <span class="req"><small>
					required *</small></span></legend>
					<div class="imgcontainer">
						<img src="img_avatar2.png" alt="Avatar" class="avatar">
				 	 </div>
					  <label for="id"><b><span class="req">* </span>ID</b></label>
					  <input type="text" [(ngModel)]="flight.id" placeholder="Enter ID" maxlength="28" name="id" required>

					<label for="from"><b><span class="req">* </span>From-Location</b></label>
					  <input type="text" [(ngModel)]="flight.fromlocation" placeholder="Enter From-Location" maxlength="28" name="from" required>
					  
					  <label for="to"><b><span class="req">* </span>To-Location</b></label>
					  <input type="text" [(ngModel)]="flight.tolocation" placeholder="Enter To-Location" name="to"  required>
		  
					  <label for="seats"><b><span class="req">* </span>Total Seats</b></label>
					  <input type="text" [(ngModel)]="flight.totalseats" placeholder="Enter Total Seats Number" name="seats" required>
				  
					  <label for="price"><b><span class="req">* </span>Price</b></label>
					  <input type="text" [(ngModel)]="flight.price" placeholder="Enter Price/Fare" name="price" required>
					  
					  <label for="dte"><b><span class="req">* </span>Date</b></label>
					  <input type="text" [(ngModel)]="flight.date" placeholder="Enter Date" name="dte" required>

			
					  <input class="btn btn-info" type="submit" name="submit_reg" value="Add-FlightDetails" (click)="addFlightNow()">
				
				
				  <div class="containerC" style="background-color:#f1f1f1">
					<button type="button" class="cancelbtn"><a href="/admin">Save and Back</a></button>
				  </div>
			

			</fieldset>
		</form>
		</div>
</body>
</html>
 
	