
<header> 
	<div class="container1" style="padding-left: 50px; padding-right: 50px;">
		<div class="row">
			<div class="col-sm-4">
				<div class="headercontaint1">
					<fa-icon [icon]="faPlane"></fa-icon> <i><b> Welcome to Boieng. </b></i><em>.</em>
					
				</div>
			</div>
			<div class="col-sm-8">
				<div class="headercontaint2"> 
					<p><fa-icon [icon]="faEnvelope"></fa-icon>
						 Drop Us Your Feedback on <i style="color: rgb(31, 122, 241);">feedback@boieng.com</i><span class="space"></span>   | <span class="space"></span>  <fa-icon [icon]="faPhone"></fa-icon>  Contact us (+12) 347251</p>
				</div>
			</div>
			
		</div>
	</div>
</header>



<div class="background-wrap">
    <div class="background"></div>
  </div>
 
  <form id="accesspanel" action="">
    <h1 id="litheader">Welcome! Admin Section</h1>
    <div class="inset">
      <p>
        <input type="text" name="username" [(ngModel)]="adminusername" id="email" placeholder="username">
      </p>
      <p>
        <input type="password" name="password" [(ngModel)]="adminpassword" id="password" placeholder="password">
      </p>
    </div>
    <p class="p-container">
      <input type="submit" name="Login" id="go" value="Login" (click)="doLogin()">
    </p>
  </form>