
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div style="text-align: center;">
		<h1>{{message}}</h1>
	</div>
  <div class="container">
    <h2>     </h2>
    <form action="" id="contact-form" [formGroup]="contactForm" (click)="loginNow()" novalidate>
        <div class="imgcontainer">
          <fa-icon [icon]="faUserAlt"></fa-icon>
        </div>
        
          <label for="username"><b>User Name</b></label>
          <input type="text" [(ngModel)]="username" placeholder="Enter User Name" formControlName="username"  required>
    
          <label for="psw"><b>Password</b></label>
          <input type="password" [(ngModel)]="password" placeholder="Enter Password" formControlName="password"  required>
    <!--
          <input class="btn btn-info" style="margin-top: 20px; background-color: rgb(49, 3, 250); margin-bottom: 20px; width: 30%; height: 50px; color: white;"  type="submit" name="submit_reg" value="LogIn and Proceed" (click)="loginNow()">
    -->
    <button type="submit" [disabled]="!contactForm.valid" class="btn btn-success" style="margin-top: 20px; background-color: rgb(49, 3, 250); margin-bottom: 20px; width: 30%; height: 50px; color: white;"><a href="/payment" style="color: white;">Login</a></button>

          <label style="float: right;">
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
      
      
        <div class="containerC" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn"><a href="">Cancel</a></button>
          <span class="psw">For <a href="/registration">Sign Up</a></span>
        </div>
      </form>
    </div>
    
</body>
</html>
 