
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div style="text-align: center">
		<h1>{{message}}</h1>
	</div>
  <div class="container">
    <h2>Login Form</h2>
    <form>
        <div class="imgcontainer">
          <img src="img_avatar2.png" alt="Avatar" class="avatar">
        </div>
        
          <label for="emailId"><b>EmailId</b></label>
          <input type="text" [(ngModel)]="users.username" placeholder="Enter EmailId" name="emailId"  required>
    
          <label for="psw"><b>Password</b></label>
          <input type="password" [(ngModel)]="users.password" placeholder="Enter Password" name="psw"  required>
    
          <input class="btn btn-info" type="submit" name="submit_reg" value="LogIn" (click)="loginNow()">
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
      
      
        <div class="containerC" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn"><a href="">Cancel</a></button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>
    
</body>
</html>
 