<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body >
    <header style="margin-bottom: 4%;"> 
        <div class="container1" style="padding-left: 50px; padding-right: 50px;">
            <div class="row">
                <div class="col-sm-4">
                    <div class="headercontaint1">
                        <fa-icon [icon]="faPlane"></fa-icon> <i><b> Boieng. </b></i><em>..</em>
                        
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="headercontaint2"> 
                        <p><fa-icon [icon]="faEnvelope"></fa-icon>
                             Contact:  <i style="color: rgb(31, 122, 241);">feedback@boieng.com</i><span class="space"></span>   | <span class="space"></span>  <fa-icon [icon]="faPhone"></fa-icon>  Contact: (+12) 347251</p>
                    </div>
                </div>
                
            </div>
        </div>
    </header>
    <div class="container" >
        <button type="button" style="margin-right: 10px;" class="btn btn-primary" (click)="getPassenger()">FindUsers</button>
        <button type="button" class="btn btn-primary" (click)="getFlightDetails()">FindFlight</button>
   
   
         <table class="table">
            <thead>
                <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>EmailId</th>
            <th>Password</th>
            <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of user">
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.emailid}}</td>
                    <td>{{user.password}}</td>
                    <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deletePassenger(user.id)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                  </tr>

            </tbody>
        </table>

        <table class="table">
            <thead>
                <tr>
            <th>Id</th>
            <th>FromLocation</th>
            <th>ToLocation</th>
            <th>TotalSeats</th>
            <th>Price/Fare</th>
            <th>Date</th>
            <th>Action</th>
            <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let flight of flight">
                    <td>{{flight.id}}</td>
                    <td>{{flight.fromlocation}}</td>
                    <td>{{flight.tolocation}}</td>
                    <td>{{flight.totalseats}}</td>
                    <td>{{flight.price}}</td>
                    <td>{{flight.date}}</td>
                    <td class="text-center"><button class="btn btn-info btn-xs" (click)="booking(flight.id)"><span class="glyphicon glyphicon-remove"></span> Update</button></td>
                    <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deleteFlight(flight.id)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                  </tr>

            </tbody>
        </table>

        <button type="button"  class="btn btn-primary"><a href="/" style="color: aliceblue;">Back</a></button>
       
         <button type="button" class="btn btn-primary" style=" margin: 10px;"> <a href="/add-flight" style="color: aliceblue;" >AddFlight</a></button>
    </div>
</body>

</html>
