<div class="container">
	<div class="Page">
		<nav class="gtco-nav" role="navigation">
			<div class="gtco-container">
				<div class="row">
					<div class="col-sm-4 col-xs-12">
						<div id="gtco-logo"><a href="index.html"><i>Boieng.</i><em>.</em></a></div>
					</div>
					<button style="width:auto;" ><a href ="/admin-login">Admin Login</a></button>
					
					<button style="width:auto;"><a href ="/login">User Login</a></button>

					<button style="width:auto;"><a href ="/registration">Register</a></button>
				</div>
				
			</div>
		</nav>
		

		<div class="col-sm-5 col-md-5">
			<div class="tabulation animate-box">

			  <!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#" aria-controls="flights" role="tab" data-toggle="tab">Flights</a>
					</li>
				</ul>

			   <!-- Tab panes -->
				<div class="tab-content">
				 <div role="tabpanel" class="tab-pane active" id="flights">
					<div class="row">
						<div class="col-xxs-12 col-xs-6 mt">
							<div class="input-field">
								<label for="from">From:</label>
								<input type="text" class="form-control" id="from-place" placeholder="Pune, IN"/>
							</div>
						</div>
						<div class="col-xxs-12 col-xs-6 mt">
							<div class="input-field">
								<label for="from">To:</label>
								<input type="text" class="form-control" id="to-place" placeholder="Delhi, IN"/>
							</div>
						</div>
						<div class="col-xxs-12 col-xs-6 mt alternate">
							<div class="input-field">
								<label for="date-start">Date</label>
								<input type="text" class="form-control" id="date-start" placeholder="mm/dd/yyyy"/>
							</div>
						</div>
						
						
						<div class="col-xs-12">
							<input type="submit" class="btn btn-primary btn-block" value="Search Flight">
						</div>
					</div>
				 </div>
			</div>



			</div>
		</div>
	</div>
</div>
