<div class="container">
    <h2>Add Flight Details</h2>
    <form >
        <fieldset>
            <legend class="text-center">Flight Details Updation Form<span class="req"><small>
                required *</small></span></legend>
    
              

                <label for="from"><b><span class="req">* </span>From-Location</b></label>
                  <input type="text" [(ngModel)]="flight.fromlocation" placeholder="Enter From-Location" maxlength="28" name="from" required>
                  
                  <label for="to"><b><span class="req">* </span>To-Location</b></label>
                  <input type="text" [(ngModel)]="flight.tolocation" placeholder="Enter To-Location" name="to"  required>
      
                  <label for="seats"><b><span class="req">* </span>Total Seats</b></label>
                  <input type="text" [(ngModel)]="flight.totalseats" placeholder="Enter Total Seats Number" name="seats" required>
              
                  <label for="price"><b><span class="req">* </span>Price</b></label>
                  <input type="text" [(ngModel)]="flight.price" placeholder="Enter Price/Fare" name="price" required>
                  
                  <label for="dte"><b><span class="req">* </span>Date</b></label>
                  <input type="text" [(ngModel)]="flight.date" placeholder="Enter Date" name="dte" required>

        
                  <div class="containerC" style="background-color:#f1f1f1">
                    <a href="/login-page"> <button type="button" class="confirm">Confirm and Proceed</button></a>
                  </div>            
            
              <div class="containerC" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn"><a href="/flight-search"> Back</a></button>
              </div>
        

        </fieldset>
    </form>

</div>












<!--<div class="container">
    <table class="table">
        <thead>
            <tr>
        <th>Id</th>
        <th>FromLocation</th>
        <th>ToLocation</th>
        <th>TotalSeats</th>
        <th>Price/Fare</th>
        <th>Date</th>
       
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flight of flight">
                <td>{{flight.id}}</td>
                <td>{{flight.fromlocation}}</td>
                <td>{{flight.tolocation}}</td>
                <td>{{flight.totalseats}}</td>
                <td>{{flight.price}}</td>
                <td>{{flight.date}}</td>
                
                <td class="text-center" ><button class="btn btn-danger btn-xs" ><a href="/booking" style="color: aliceblue;"><span class="glyphicon glyphicon-remove"></span> BookNow</a></button></td>
              </tr>
    
        </tbody>
    </table>
    </div>-->















<!--<div class="container">
    <button type="button" class="btn btn-primary">FindUsers</button>
</div>
<div class="container">
    <table class="table">
       <thead>
           <tr>
       <th>Id</th>
       <th>EmailId</th>
       <th>Price</th>
           </tr>
       </thead>
       <tbody>
           <tr *ngFor="let passenger of passenger">
               <td>{{passenger.id}}</td>
               <td>{{passenger.emailId}}</td>
               <td class="text-center"><button class="btn btn-danger btn-xs" ><span class="glyphicon glyphicon-remove"></span> Pay</button></td>
             </tr>
        <tr *ngFor ="let flight of flight">
            <td>{{flight.price}}</td>
        </tr>
       </tbody>
   </table>
</div> -->